.navbar {

    height:80px;

    background:#ffffff;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 30px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.navbar-left h2 {

    color:#0B132B;

    margin:0;

    font-size:24px;

}



.navbar-center {

    flex:1;

    display:flex;

    justify-content:center;

}



.search-box {

    width:350px;

    height:42px;

    display:flex;

    align-items:center;

    gap:12px;

    background:#F1F5F9;

    padding:0 15px;

    border-radius:12px;

    color:#64748B;

}



.search-box input {

    border:none;

    outline:none;

    background:transparent;

    width:100%;

    font-size:15px;

}



.navbar-right {

    display:flex;

    align-items:center;

    gap:20px;

}



.notification-btn {

    border:none;

    background:#F1F5F9;

    width:42px;

    height:42px;

    border-radius:50%;

    cursor:pointer;

    color:#0B132B;

    font-size:18px;

}



.navbar-profile {

    display:flex;

    align-items:center;

    gap:12px;

}



.navbar-avatar {

    font-size:42px;

    color:#3A86FF;

}



.navbar-profile p {

    margin:0;

    color:#0F172A;

    font-weight:600;

}



.navbar-profile span {

    font-size:13px;

    color:#64748B;

}



@media(max-width:900px){


    .navbar-center {

        display:none;

    }


    .navbar {

        padding:0 15px;

    }


}