.page-header-main {

    height:80px;

    background:white;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 35px;

    border-bottom:1px solid #e5e7eb;

    box-shadow:0 2px 8px rgba(0,0,0,0.04);

}



.page-header-main h1 {

    font-size:24px;

    font-weight:700;

    color:#1d3557;

    margin:0;

}